.App {
  text-align: center;
}

.main-container {
  width: 70%;
  display: inline-block;
  text-align: center;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px black;
}

.add-task-container {
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: start;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
  box-shadow: 0 2px 4px black;
}

.add-task-container label {
  font-size: large;
  font-weight: bold;
}

.add-task-container input {
  width: 50%;
  font-size: medium;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px black;
}

.add-task-container button {
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: hsla(226, 100%, 50%, 0.712);
  cursor: pointer;
}

.add-task-container button:hover {
  border: 1px solid black;
}

.taskList-container {
  width: 70%;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px black;
}

.task-and-buttons {
  width: 100%;
  font-size: larger;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}

.task-and-buttons span {

  flex-grow: 1;
}

.task-and-buttons button {
  margin-left: 20px;
  flex-basis: 60px;
  font-weight: 700;
  cursor: pointer;
}



.creation-and-status {
  width: 100%;
  display: flex;
  align-items: center;
}

.creation-and-status span {
  font-size: small;
  flex-grow: 1;
}

.creation-and-status input {
  cursor: pointer;
}

.creation-and-status input,
.creation-and-status p {
  flex-basis: 20px;
  font-weight: 600;
}


/* @media only screen and(maxWidth:300px){
  .add-task-container input{
    width: 50%;
  }

} */